<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="hg-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/hg-layui-admin-ui/css/font.css">
    <link rel="stylesheet" href="/hg-layui-admin-ui/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/hg-layui-admin-ui/lib/admin/admin.css" media="all">
    <link rel="stylesheet" href="/hg-layui-admin-ui/lib/Scrollbar/jquery.scrollbar.css">
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/admin/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/Scrollbar/jquery.scrollBar.js"></script>
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/layui/layui.js"></script>
    <script type="text/javascript" src="/hg-layui-admin-ui/lib/admin/admin.js"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="layui-body-content">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="iconfont">&#xe6ac;</i>客户微信信息
                <span class="layui-layout-right">
                    <a href="javascript:;" hg-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </span>
            </div>
            <div class="layui-card-body">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <select name="disabled" id="select" lay-filter="mySelect">
                                <option value>用户类型</option>
                                <option value="0">未禁用</option>
                                <option value="1">已禁用</option>
                            </select>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn layui-btn-lg layui-btn-normal" lay-submit lay-filter="sreach"><i
                                    class="layui-icon layui-icon-lg">&#xe615;</i></button>
                        </div>
                    </div>
                </div>
                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
        </div>
    </div>
</body>
<script>
    //修改
    function edit(obj) {
        //obj通过行tool修改-lay-event
        var row = obj ? obj : hg.table.datatable('test', 'getSelected');
        if (row) {
            hg.open('修改用户微信信息, 昵称:' + row.data.alias, '/customer/edit.html?id=' + row.data.weChatCustomerID
                + '&personID=' + row.data.personID + '&originalWechatID=' + row.data.originalWechatID
                + '&updatedWechatID=' + row.data.updatedWechatID
                + '&alias=' + row.data.alias + '&tag=' + row.data.tag
                + '&weChatAddedDateTime=' + row.data.weChatAddedDateTime
                + '&recordedDateTime=' + row.data.recordedDateTime
                + '&recorderID=' + row.data.recorderID + '&weChatCustomerActivitySourceID=' + row.data.weChatCustomerActivitySourceID
                + '&weChatCustomerAddingSourceID=' + row.data.weChatCustomerAddingSourceID + '&titleID=' + row.data.titleID
                + '&affiliation=' + row.data.affiliation + '&researchFields=' + row.data.researchFields
                + '&customerPhoneNumber=' + row.data.customerPhoneNumber + '&commentForCustomer=' + row.data.commentForCustomer
                + '&weChatCustomerEvaluationID=' + row.data.weChatCustomerEvaluationID + '&remark=' + row.data.remark
                , 600, 0, true);
        } else {
            hg.msg('请选中一行数据，再操作！');
        }
    }
    //删除
    function del(obj) {
        //obj通过行tool删除-lay-event
        var row = obj ? obj : hg.table.datatable('test', 'getSelected');
        if (row) {
            hg.confirm("删除当前选中的数据，确定要删除吗？", function () {
                var data = {'id':row.data.weChatCustomerID}
                $.ajax({
                    type:"Delete",
                    url:"/wechat/customer/delete",
                    dataType:"json",
                    contentType: "application/json;charset=UTF-8",
                    data:JSON.stringify(data),
                    success:function (data) {
                        if(data.code === 0){//删除成功：移除删除行
                            hg.msg('删除成功！');
                            hg.table.datatable('test', 'reload');
                        }else{//删除失败
                            hg.msg('删除失败！');
                        };
                    },
                    error: function (data,type, err) {
                        console.log("ajax错误类型："+type);
                        console.log(err);
                        hg.msg('删除失败！');
                    }
                });
            });
        } else {
            hg.msg('请选中一行数据，再操作！');
        }
    }

    function add(obj) {
        var row = obj ? obj : hg.table.datatable('test', 'getSelected');
        if (row) {
            hg.open('管理运营微信', '/customer/wechat.html?id=' + row.data.weChatCustomerID,
                600, 290);
        } else {
            hg.msg('请选中一行数据，再操作！');
        }
    }

    //监听表单提交事件
    hg.form.onsubmit('sreach', function (data) {
        data.sort = 'customer.RecordedDateTime';
        data.order = 'desc';
        table && table.reload(data);
    });

    var tableCols = [
        [{
            field: 'weChatCustomerID',
            hide: true,
            width: '0',
            title: 'id',
            minWidth: 0,
            style: 'color: #ff5722;'
        },{
            field: 'personID',
            width: '7%',
            title: 'SPG系统ID',
            style: 'color: #ff5722;'
        }, {
            field: 'originalWechatID',
            width: '5%',
            title: '原微信号',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'updatedWechatID',
            width: '5%',
            title: '现微信号',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'alias',
            width: '5%',
            title: '备注名',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'tag',
            width: '5%',
            title: '标签',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'weChatAddedDateTime',
            width: '8%',
            title: '加微信时间',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'recordedDateTime',
            width: '8%',
            title: '录入时间',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'recorder',
            width: '5%',
            title: '录入人',
            style: 'color: #ff5722;',
            templet: '<div>{{d.recorder.name}}</div>',
            sort: false
        }, {
            field: 'activitySource',
            width: '5%',
            title: '业务来源',
            templet: '<div>{{d.activitySource === undefined ? "" : d.activitySource.name}}</div>',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'addingSource',
            width: '6%',
            title: '用户来源',
            templet: '<div>{{d.addingSource === undefined ? "" : d.addingSource.name}}</div>',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'title',
            width: '5%',
            title: '身份',
            templet: '<div>{{d.title === undefined ? "" : d.title.name}}</div>',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'affiliation',
            width: '5%',
            title: '单位',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'researchFields',
            width: '7%',
            title: '研究领域',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'customerPhoneNumber',
            width: '5%',
            title: '客户手机',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'commentForCustomer',
            width: '7%',
            title: '用户评价',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'evaluation',
            width: '5%',
            title: '用户评分',
                templet: '<div>{{d.evaluation === undefined ? "" : d.evaluation.name}}</div>',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'operationWechat',
            width: '5%',
            title: '主营微信',
            templet: '<div>{{d.operationWechat === undefined ? "" : d.operationWechat.name}}</div>',
            style: 'color: #ff5722;',
            sort: false
        },{
            field: 'remark',
            width: '5%',
            title: '备注',
            style: 'color: #ff5722;',
            sort: false
        }, {
            field: 'right',
            width: '15%',
            title: '操作',
            templet: function (d) {
                return ' <a class="layui-btn layui-btn-xs" lay-event="add">运营微信管理</a>'
                    + '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>' +
                    ' <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>'
            }
        }]
    ];
    var toolbar = [{
            text: '添加',
            layuiicon: '&#xe608;',
            handler: function () {
                hg.open('添加客户微信信息', '/customer/add.html', 600, 0, true);
            }
        }
    ];
    //基本数据表格
    var table = hg.table.datatable('test', '用户管理', 'list', {sort:'customer.RecordedDateTime', order:'desc'}, tableCols, toolbar,
        true, 'full-210', ['filter', 'print', 'exports']);

</script>

</html>