<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.mercury.mapper.ex.TPhonenumberExMapper">

    <select id="listAllPhoneNumber" resultType="com.warrior.mercury.model.dto.CommonSimpleDto">
        SELECT
            PhoneNumberID id, PhoneNumber name
        FROM t_phonenumber
    </select>
</mapper>