<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.mercury.mapper.ex.TSignupExMapper">

    <resultMap id="pageListResultMap" type="com.warrior.mercury.model.entity.auto.TSignup"
        extends="com.warrior.mercury.mapper.auto.TSignupMapper.BaseResultMap">

    </resultMap>

    <select id="listAllPhoneUser" resultType="com.warrior.mercury.model.dto.CommonSimpleDto">
        SELECT
            person.PersonID id, person.FirstName name
        FROM
            t_person person
        JOIN t_signup sign_up
        ON sign_up.SignUpID = person.PersonID
    </select>

    <select id="pageListSignUp" resultMap="pageListResultMap">
        SELECT
            sign_up.SignUpID, sign_up.PersonID, sign_up.LoginName, sign_up.Password, sign_up.Disabled
        FROM
            t_signup sign_up
        JOIN t_person person
        ON sign_up.PersonID = person.PersonID
        <where>
            <if test="@com.warrior.mercury.util.Judge@isNotEmpty(username)">
                AND sign_up.LoginName LIKE CONCAT('%', #{username}, '%')
            </if>

            <if test="@com.warrior.mercury.util.Judge@isNotEmpty(disabled)">
                AND sign_up.Disabled = #{disabled}
            </if>
        </where>
    </select>

</mapper>